/*
	MostWanted - Wild Digital Agency
	http://www.mostwanted-agency.net
	info@mw-a.net

	FONTS : PLuto regular / light / bold
*/

@font-face {
	font-family: 'pluto';
	src: url('../fonts/plutoregular-webfont.eot');
	src: url('../fonts/plutoregular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/plutoregular-webfont.woff') format('woff'),
		 url('../fonts/plutoregular-webfont.ttf') format('truetype'),
		 url('../fonts/plutoregular-webfont.svg#pluto_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plutolight';
	src: url('../fonts/plutolight-webfont.eot');
	src: url('../fonts/plutolight-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/plutolight-webfont.woff') format('woff'),
		 url('../fonts/plutolight-webfont.ttf') format('truetype'),
		 url('../fonts/plutolight-webfont.svg#plutolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plutomedium';
	src: url('../fonts/plutomedium-webfont.eot');
	src: url('../fonts/plutomedium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/plutomedium-webfont.woff') format('woff'),
		 url('../fonts/plutomedium-webfont.ttf') format('truetype'),
		 url('../fonts/plutomedium-webfont.svg#plutomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plutoextralight';
	src: url('../fonts/plutoextralight-webfont.eot');
	src: url('../fonts/plutoextralight-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/plutoextralight-webfont.woff') format('woff'),
		 url('../fonts/plutoextralight-webfont.ttf') format('truetype'),
		 url('../fonts/plutoextralight-webfont.svg#plutoextralight') format('svg');
	font-weight: normal;
	font-style: normal;
}
